@import 'variables';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo', sans-serif;
    min-height: 100vh;
    background-color: #f3f4f6; 
}

.error-message {
    background-color: $error-color;
    color: $white;
    padding: $spacing-sm;
    border-radius: $border-radius;
}

.spinner {
    width: 24px;
    height: 24px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: $white;
    animation: spin 0.8s ease-in-out infinite;
    margin: 0 auto; // Centrar en el botón
}

@keyframes spin {
    to { transform: rotate(360deg); }
}